@media (max-width:768px){
    .navbar-main{
        width: 97% !important;
        padding: 0 !important;
        margin-right: 0 !important;
        border-bottom: 0 !important;
    }
    body{
        background-size: 5% ,100px 50px !important;
        width: 95%;
    }
    .background-image-box{
        width: 92%;
    }
    .navbar-nav{
        border: 1px gray solid;
        height: 100%;
        margin: 0 15px;
    }
    .offcanvas{
        width: 100% !important;
        background-color: var(--offcanvas-color);
    }
    main{
        background-image: url(../gallery/new3.png);
        justify-content: center;
        background-size: 410px;
        background-position: left bottom ;
        height: 89vh;
        color: ghostwhite !important;
    }
    .introduction{
        margin: 0 !important;
        text-align: center;
    }
    .introduction-title{
        font-size: 50px;
        margin-left: 0 !important;
    }
    .introduction-subtitle{
        font-size: 20px;
        margin-left: 0 !important;
    }
    .social-media{
        margin-left: 0 !important;
    }
    .icon-section-header{
        margin-left: 0 !important;
    }
    .icon-section{
        display: flex;
        justify-content: center;
    }
}
@media (min-width:768px) and (max-width:992px) {
    .navbar-icons{
        margin-left: auto;
    }
}