
[data-bs-theme="light"] {
    --yellow: #2a7cb6;
    --purpule: #319331;
    --light-blue:#E50000;   
    --bg-color:#ececec;
    --offcanvas-color:#d6d6d6f0;
    --text-shadow:3px 3px 4px #6b6b6b;
    --bg-image:url(../gallery/bg-02.jpg);
}

[data-bs-theme="dark"] {
    --yellow:#ffc914;
    --purpule:#b25fbe;
    --light-blue:#9cdcfe;
    --bg-color:#1f1f1f;
    --offcanvas-color:#1f1f1ff0;
    --text-shadow:3px 3px 4px #b6b6b6;
    --bg-image:url(../gallery/bg-02.jpg);
}